<div class="content farmFormContainer">
  <%= form(:action => form_url, :method => (method || :post), :id => form_id, :class => 'form farmForm') do -%>
    <% unless form_for == 'edit' %>
      <div class="group form">
        <label class="label" for="farm_name">Name</label>
        <%= text_field :id => "farm_name", :name => "name", :class => "text_field", :value => params.has_key?(:name) ? h(params[:name]) : @farm.name %>
        <span class="description">The name of the Farm</span>
      </div>
    <% end %>

    <div class="group form">
      <label class="label" for="farm_description">Description</label>
      <%= text_area(params.has_key?(:description) ? h(params[:description]) : @farm.description, :name => "description", :class => "text_area", :id => "farm_description") %>
      <span class="description">A description of this Farm</span>
    </div>

    <div class="group form">
      <label class="label" for="farm_ami_id">Amazon Machine Image ID</label>
      <%= text_field(params.has_key?(:ami_id) ? h(params[:ami_id]) : @farm.ami_id, :name => "ami_id", :class => "text_field", :id => "farm_ami_id") %>
      <span class="ami_id">The Amazon Machine ID associated with this Farm</span>
    </div>

    <div class="group form">
      <label class="label" for="farm_kernel_id">Amazon Kernel Image ID</label>
      <%= text_field(params.has_key?(:aki_id) ? h(params[:aki_id]) : @farm.aki_id, :name => "aki_id", :class => "text_field", :id => "farm_aki_id") %>
      <span class="ami_id">The Amazon Kernel Image ID associated with this Farm</span>
    </div>

    <div class="group form">
      <label class="label" for="farm_keypair_name">Keypair Name</label>
      <%= text_field(params.has_key?(:keypair_name) ? h(params[:keypair_name]) : @farm.keypair_name, :name => "keypair_name", :class => "text_field", :id => "farm_keypair_name") %>
      <span class="ami_id">The name of the authentication keypair associated with this Farm</span>
    </div>

    <div class="group form">
      <label class="label" for="farm_roles">Roles</label>
      <%= text_field(params.has_key?(:roles) ? h(params[:role_id]) : @farm.roles, :name => "roles", :class => "text_field", :id => "farm_roles") %>
      <span class="roles">The roles associated with this Farm</span>
    </div>

    <div class="group form attrEditor">
      <label class="label">Default and Override Attributes</label>
      <%= partial 'layout/jsonedit', :json => { :defaults => @role.default_attributes, :overrides => @role.override_attributes }.to_json%>
      <span class="description">
        A JSON hash for default attributes for nodes of this role. These attributes will be applied according to the attribute precedence rules.
      </span>
    </div>

    <div class="group">
      <div class="actions-bar">
        <%= submit(submit_name, :id => submit_id, :class => 'button') -%>
      </div>
    </div>
  <% end =%>
</div>
