%h1 Farms
%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr{:bgcolor => "#669900"}
    %th.first Name
    %th Description
    %th AMI ID
    %th Roles
    %th.last &nbsp;
  - @farms.each do |farm|
    %tr.data_row
      %td= link_to farm.name, :controller => "farm", :action => "show", :id => @farm
      %td= h farm.description
      %td= h farm.ami_id
      %td= h farm.role
      %td= link_to 'Edit', :controller => "farm", :action => "edit", :id => @farm
%br/
