.content.farmFormContainer
  = form_for(@farm) do |f|
    .group.form
      %label.label{:for => "farm_name"} Name
      = text_field :farm, :name, :value => params.has_key?(:name) ? h(params[:name]) : @farm.name
      %span.description The name of the Farm
    .group.form
      %label.label{:for => "farm_description"} Description
      = text_area :farm, :description, :value => params.has_key?(:description) ? h(params[:description]) : @farm.description
      %span.description A description of this Farm
    .group.form
      %label.label{:for => "farm_ami_id"} Amazon Machine Image ID
      = text_field :farm, :ami_id, :size => 12, :value => params.has_key?(:ami_id) ? h(params[:ami_id]) : @farm.ami_id
      %span.ami_id The Amazon Machine ID associated with this Farm
    .group.form
      %label.label{:for => "farm_min"} Min
      = text_field :farm, :min, :size => 2, :value => params.has_key?(:min) ? h(params[:min]) : @farm.min
      %span.roles The minimum number of instances that should be running at all times that are associated with this farm
    .group.form
      %label.label{:for => "farm_max"} Max
      = text_field :farm, :max, :size => 2, :value => params.has_key?(:max) ? h(params[:max]) : @farm.max
      %span.roles The maximum number of instances that should be running at all times that are associated with this farm
    .group.form
      %label.label{:for => "farm_ami_type"} EC2 Type
      = select :farm, :ami_type, options_for_select(@instance_types, @farm.ami_type)
      %span.roles The Amazon EC2 type (size) based on the AMI ID architecture
    .group.form
      %label.label{:for => "farm_roles"} Roles
      = select :farm, :role, @roles.map {|r| [r.name, r.name]}, :value => params.has_key?(:role) ? h(params[:role]) : @farm.role
      %span.roles The roles associated with this Farm
    .group.form
      %label.label{:for => "farm_keypair"} Key Pair
      = text_field :farm, :keypair, :value => params.has_key?(:keypair) ? h(params[:keypair]) : @farm.keypair
      %span.roles The keypair to be used with this Farm
    .group.form
      %label.label{:for => "farm_avail_zone"} Availability Zone
      = select :farm, :avail_zone, options_for_select(@availability_zones, @farm.avail_zone)
      %span.roles The availability zone where this farm will be instantiated
    .group.form
      %label.label{:for => "farm_spot_price"} Spot Price
      = text_field :farm, :spot_price, :size => 2, :value => params.has_key?(:spot_price) ? h(params[:spot_price]) : @farm.spot_price
      %span.roles The spot price you are willing to pay per hour for an instance from this farm
    .group.form
      = f.submit "Commit"
