%h1 Farms
%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr{:bgcolor => "#FF9900"}
    %th.first Name
    %th Description
    %th AMI ID
    %th Role
    %th Min
    %th Max
    %th EC2 Type
    %th.last &nbsp;
  - @farms.each do |farm|
    %tr.data_row
      %td= link_to farm.name, edit_farm_path(farm.id)
      %td= h farm.description
      %td= h farm.ami_id
      %td= h farm.role
      %td= h farm.min
      %td= h farm.max
      %td= h farm.ami_type
      %td= link_to 'Destroy', farm_path(farm), :method => 'delete', :confirm => "Are you sure you want to delete the farm titled #{farm.name}?"
%br/
= link_to 'Create a new farm', new_farm_path
