%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr
    %td= link_to_unless_current "Nodes", nodes_path
    %td= link_to_unless_current "Farms", farms_path
    %td= link_to_unless_current "Roles", roles_path
%br/
%h1 Farms
%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr{:bgcolor => "#FF9900"}
    %th.first Name
    %th Description
    %th AMI ID
    %th Role
    %th Min / Max
    %th Running
    %th EC2 Type
    %th Keypair
    %th Availability Zone
    %th Start?
    %th.last &nbsp;
  - if ! @farms.nil? && ! @farms.empty?
    - @farms.each do |farm|
      %tr.data_row
        %td= link_to farm.name, edit_farm_path(farm.id)
        %td= h farm.description
        %td= h farm.ami_id
        %td= h farm.role
        %td= h farm.min.to_s +  "/" +  farm.max.to_s
        - if farm.running_instances.nil?
          %td N/A
        - else
          %td= h farm.running_instances.length
        %td= h farm.ami_type
        %td= h farm.keypair
        %td= h farm.avail_zone
        %td= button_to "Start", farm_start_path(:name => farm.name, :num_instances => 1), :confirm => "Are you sure you want to start and instance of #{farm.name}?"
        %td= link_to 'Destroy', farm_path(farm), :method => 'delete', :confirm => "Are you sure you want to delete the farm titled #{farm.name}?"
%br/
= link_to 'Create a new farm', new_farm_path
