%h1 Chef Compute Nodes
%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr{:bgcolor => "#669900"}
    %th.first Name
    %th Hostname
    %th Instance ID
    %th AMI ID
    %th Reservation ID
    %th Security Groups
    %th Roles
    %th Uptime
    %th CPU
    %th &nbsp;
    %th.last &nbsp;
  - @compute.each do |node|
    %tr.data_row
      %td= link_to node.name, url_for(node.chef_url)
      %td= h node.ec2.public_hostname
      %td= h node.ec2.instance_id
      %td= h node.ec2.ami_id
      %td= h node.ec2.reservation_id
      %td= h node.ec2.security_groups
      %td= h node.roles
      %td= h distance_of_time_in_words(0, node.uptime_seconds, true).capitalize
      %td= h Node.cpu_util(node.ec2.instance_id)
      %td= link_to 'Edit', url_for(node.chef_url + '/edit')
      %td= link_to "Shutdown", shutdown_node_path(:id => node.ec2.instance_id), :confirm => "Are you sure you want to shutdown the instance #{node.ec2.instance_id}?"
%br/
%h1 Chef Servers
%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr{:bgcolor => "#669999"}
    %th.first Name
    %th Hostname
    %th Instance ID
    %th AMI ID
    %th Reservation ID
    %th Uptime
    %th CPU
    %th.last &nbsp;
  - @servers.each do |server|
    %tr.data_row
      %td= link_to server.name, url_for(server.chef_url)
      %td= h server.ec2.public_hostname
      %td= h server.ec2.instance_id
      %td= h server.ec2.ami_id
      %td= h server.ec2.reservation_id
      %td= h distance_of_time_in_words(0, server.uptime_seconds, true).capitalize
      %td= h Node.cpu_util(server.ec2.instance_id)
      %td= link_to 'Edit', url_for(server.chef_url + '/edit')
%br/
%h1 EC2
%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr{:bgcolor => "#999999"}
    %th.first Name
    %th Hostname
    %th Instance ID
    %th AMI ID
    %th State
    %th Uptime
    %th.last &nbsp;
  - @ec2_instances.each do |ec2_instance|
    %tr.data_row
      %td= h ec2_instance["private_dns"]
      %td= h ec2_instance["public_dns"]
      %td= h ec2_instance["instance_id"]
      %td= h ec2_instance["ami_id"]
      %td= h ec2_instance["state"]
      %td= h distance_of_time_in_words(0, ec2_instance["uptime_seconds"], true).capitalize
      - if ec2_instance["state"] == "pending" || ec2_instance["state"] == "running"
        %td= link_to "Shutdown", shutdown_node_path(:id => ec2_instance["instance_id"]), :confirm => "Are you sure you want to shutdown the instance #{ec2_instance["instance_id"]}?"
%br/
