%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr
    %td= link_to_unless_current "Nodes", nodes_path
    %td= link_to_unless_current "Farms", farms_path
    %td= link_to_unless_current "Roles", roles_path
%br/
%h1 Nodes
%br/
- @farms.each do |f|
  - if  ! f.running_instances.nil? && ! f.running_instances.empty?
    %h3= h f.name
    %table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
      %tr{:bgcolor => "#669900"}
        %th.first Name
        %th Hostname
        %th Instance ID
        %th AMI ID
        %th Reservation ID
        %th Security Groups
        %th Roles
        %th Uptime
        %th CPU
        - if f.name != "Chef Server"
          %th Set Status
          %th &nbsp;
          %th.last &nbsp; 
      - f.running_instances.each do |node|
        - if ! node.nil?
          %tr.data_row
            %td= link_to node["name"], url_for(node["chef_url"])
            %td= h node["public_hostname"]
            %td= h node["instance_id"]
            %td= h node["ami_id"]
            %td= h node["reservation_id"]
            %td= h node["security_groups"]
            %td= h f.role
            %td= h distance_of_time_in_words(node["created_at"], Time.now, false).capitalize
            %td= h Node.cpu_util(node["instance_id"])
            - if f.name != "Chef Server"
              - if ! node.nil? && Node.get_qips_status(node["instance_id"]) == "busy"
                %td= button_to "Set Idle", idle_node_path(:id => node["instance_id"]), :confirm => "Are you sure you want to set #{node["instance_id"]} to idle?"
              - else
                %td= button_to "Set Busy", busy_node_path(:id => node["instance_id"]), :confirm => "Are you sure you want to set #{node["instance_id"]} to busy?"
              %td= link_to 'Edit', url_for(node["chef_url"] + '/edit')
              %td= link_to "Shutdown", shutdown_node_path(:id => node["instance_id"]), :confirm => "Are you sure you want to shutdown the instance #{node["instance_id"]}?"
%br/
%br/
%hr/
%h1 EC2
%table{:border => "1", :cellpadding => "3", :cellspacing => "0"}
  %tr{:bgcolor => "#999999"}
    %th.first Name
    %th Hostname
    %th Instance ID
    %th AMI ID
    %th State
    %th Uptime
    %th.last &nbsp;
  - @ec2_instances.each do |ec2_instance|
    %tr.data_row
      %td= h ec2_instance["private_dns"] unless ec2_instance.nil?
      %td= h ec2_instance["public_dns"] unless ec2_instance.nil?
      %td= h ec2_instance["instance_id"] unless ec2_instance.nil?
      %td= h ec2_instance["ami_id"] unless ec2_instance.nil?
      %td= h ec2_instance["state"] unless ec2_instance.nil?
      %td= h distance_of_time_in_words(ec2_instance["uptime"], Time.now,false).capitalize  unless ec2_instance.nil?
      - if ec2_instance["state"] == "pending" || ec2_instance["state"] == "running"
        %td= link_to "Shutdown", shutdown_node_path(:id => ec2_instance["instance_id"]), :confirm => "Are you sure you want to shutdown the instance #{ec2_instance["instance_id"]}?"
%br/
